.md-typeset pre {
    max-height: 300px;  /* Adjust the height */
    overflow-y: auto;
}

.swagger-container {
    max-height: 300px;
    overflow: auto;
}

.swagger-ui {
    height: 100%;
    max-height: 100%;
}
